@model Usuario
@{
    EstadisticasUsuario estadisticas = ViewData["estadisticas"] as EstadisticasUsuario;
}

<h1>Perfil</h1>

<h2>@Model.Nombre</h2>
<img src="@Model.Imagen" style="width:50px"/>
<h2>@Model.Email</h2>

<a asp-action="Editar" asp-controller="Usuario">
    Editar
</a>

<hr/>

<table>
    <thead>
        <tr>
            <th>Total de contenidos</th>
            <th>Series</th>
            <th>Películas</th>
            <th>Pendientes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@estadisticas.Total</td>
            <td>@estadisticas.Series</td>
            <td>@estadisticas.Peliculas</td>
            <td>@estadisticas.Pendientes</td>
        </tr>
</table>

