@model Contenido

<div>
    <img src=@Model.Imagen style="width:50px"/>
    <h1>@Model.Titulo</h1>
    <h3>@Model.Tipo</h3>
    <h3>@Model.Genero</h3>
    @if (Model.Estado == "vista")
    {
        <h3>@Model.Puntuacion</h3>
        <h3>@Model.Opinion</h3>
    }
</div>