@model List<Contenido>
@using LibreriaVirtual.Helpers;

@{
    bool personal = (bool)ViewData["personal"];
}

@if (personal)
{
    <h1>Catalogo personal</h1>
}
else
{
    <h1>Catalogo publico</h1>
}

@if (!personal)
{
    <div>
        <form method="post">
            <label>Filtros</label>
            <select name="tipo">
                <option>-- Elige el tipo --</option>
                @foreach (Tipos tipo in Tipos.GetValues(typeof(Tipos)))
                {
                    <option>@tipo</option>
                }
            </select>
            <select name="genero">
                <option>-- Elige el genero --</option>
                @foreach (Generos genero in Generos.GetValues(typeof(Generos)))
                {
                    <option>@genero</option>
                }
            </select>
            <button>Aplicar</button>
        </form>
    </div>
}

@if (Model != null)
{
    @foreach (Contenido contenido in Model)
    {
        if (personal)
        {
            if (contenido.IdUsuario == Context.Session.GetInt32("idUsuario"))
            {
                <div>
                    <img src=@contenido.Imagen />
                    <h2>@contenido.Titulo</h2>
                    <h3>@contenido.Tipo</h3>
                    <h3>@contenido.Genero</h3>
                    <a asp-controller="Contenido" asp-action="Details" asp-route-idcontenido=@contenido.IdContenido>
                        Detalles
                    </a>
                    <a asp-controller="Contenido" asp-action="Ver" asp-route-idcontenido=@contenido.IdContenido>
                        Marcar como visto
                        //DEBE SALTAR UN SWEET PARA RELLENAR OPINION
                    </a>
                    <a asp-controller="Contenido" asp-action="Delete" asp-route-idcontenido=@contenido.IdContenido>
                        Eliminar
                    </a>
                    @if (contenido.Estado == "visto")
                    {
                        <a asp-controller="Contenido" asp-action="UpdateOpnion" asp-route-idcontenido=@contenido.IdContenido>
                            Modificar puntuación
                            //DEBE SALTAR UN SWEET PARA CAMBIAR OPINION
                        </a>
                    }
                </div>
            }
        }
        else
        {
            <div>
                <img src=@contenido.Imagen />
                <h2>@contenido.Titulo</h2>
                <h3>@contenido.Tipo</h3>
                <h3>@contenido.Genero</h3>
                <a asp-controller="Contenido" asp-action="Details" asp-route-idcontenido=@contenido.IdContenido>
                    Detalles
                </a>
                <a asp-controller="Contenido" asp-action="Apropiar" asp-route-idcontenido=@contenido.IdContenido>
                    Añadir al catalogo personal
                </a>
            </div>
        }
    }
}
